
.hidden-until-ready #password-form,
.hidden-until-ready #protected-content {
    display: none;
  }

#loading {
      text-align: center;
      font-size: 20px;
      margin-top: 50px;
      }

#protected-content {
      display: none;
      }

#password-form {
      margin-top: 100px;
      text-align: center;
      }

