
.hidden-until-ready #password-form,
.hidden-until-ready #protected-content {
    display: none;
  }

#protected-content {
      display: none;
      }

#password-form {
      margin-top: 100px;
      text-align: center;
      }

#waiting-message {
  text-align: center;
  margin-top: 100px;
  font-size: 1.2em;
}

body:not(.hidden-until-ready) #waiting-message {
  display: none;
}
