<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
  <!--baidu stats start-->  


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?82a7f99850591121a980d6c68aad9c02";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    

  <!--baidu stats end--> 


  <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://biuhdt.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='https://cdn.matomo.cloud/biuhdt.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  <link rel="stylesheet" href="https://www.biuh-dt.com/assets/css/this_style.css?v=123456789">
  </head>

  
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" width="300" />
        {% endif %}
        
        <p>
            A practice-integrated undergraduate program at Hainan Bielefeld University of Applied Sciences (BiUH).
        </p>
        
        <br>

        <p class="view"> ▸ <a href="/courses"> Courses </a></p>

        <p class="view"> ▸ <a href="/labs"> Labs </a></p>

        <br>
        
      </header>
      <section>

      {{ content }}

      </section>

      <br>
      China Time: <span id="china-time"></span> &nbsp;｜&nbsp; Germany Time: <span id="germany-time"></span>
      
      <footer>

      <a onclick="document.getElementById('popup_contact').style.display='block'">Contact</a>  &nbsp;｜&nbsp;
      <a onclick="document.getElementById('popup_more').style.display='block'">More</a>

      <div id="popup_contact" class="modal">
          <div class="modal-content">
              <h3>Contact</h3>
              <div style="text-align: left;">
                  ZHANG Feng, PhD, Assoc Prof &nbsp;&nbsp;<a href='https://fzhang.bioinfo-lab.com/'>Info</a> <br>
                  Program Lead of Digital Technologies    <br>
                  Email: feng.zhang at hainan-biuh.edu.cn <br> 
                  <br>
              </div>
              <button onclick="document.getElementById('popup_contact').style.display='none'">Close</button>
          </div>
      </div>

      <div id="popup_more" class="modal">
          <div class="modal-content">
              <h3>More</h3>
              <div style="text-align: left;">

                 <p> <a href='/docs'>Documents </a> </p>
                 
                 <p> <a href='/grants'>Available Grants</a> </p>  
                  
              </div>
              <button onclick="document.getElementById('popup_more').style.display='none'">Close</button>
          </div>
      </div>
      
      <script>
        function updateTime() {
          const chinaTime = new Date().toLocaleString("en-GB", {
            timeZone: "Asia/Shanghai",
            hour12: false,
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
          });
    
          const germanyTime = new Date().toLocaleString("en-GB", {
            timeZone: "Europe/Berlin",
            hour12: false,
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
          });
    
          document.getElementById("china-time").textContent = chinaTime;
          document.getElementById("germany-time").textContent = germanyTime;
        }
    
        updateTime(); // initial call
        setInterval(updateTime, 1000); // update every second
      </script>

      
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="https://www.biuh-dt.com/assets/this_main.js?v=123456789"></script>
    
  </body>
</html>
